
body {
   /* background-image: url("backgfx.jpg"); */
}


text {
  color: azure;
}

#App {
  border-radius: 3px;
  max-height: auto;
  max-width: auto;
  text-align: center;
  background-color: cornflowerblue;
}

.mem {
  border: 200px;
  border-color: black;
  border-radius: 3px;
  margin: 10px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: blueviolet;
}


#navbar {
  position: fixed;
  margin-top: 50px;
  background-color: #333;
  text-align: center;
  font-size: large;
  float: left;
  overflow: hidden;
  position: fixed; 
  top: 0; 
}
