body {
  background-color: dimgray;
}

text {
  color: azure;
}

.App {
  border: 3px solid;
  border-color: black;
  border-radius: 3px;
  max-height: auto;
  max-width: auto;
}

div {
  border: 5px;
  border-color: black;
  border-radius: 3px;
  margin: 10px;
}

.App {
  text-align: center;
  /* display: inline-block; */
}

/* .navbar {
  display: inline-block;
  border-color: blue;
} */


